<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.dao.SuccessKilledDao">

    <insert id="insertSuccessKilled">
        <!-- 可能遇到的问题：传来的参数与已有主键重复，而造成主键冲突
           解决办法：使用ignore，可使主键冲突时不报错，只是让返回值为0，从而告知表中插入了0行 -->
        INSERT ignore INTO success_killed(seckill_id,user_phone,state)
        VALUES (#{seckillId},#{userPhone},0)
    </insert>

    <select id="queryById" resultType="SuccessKilled">
        <!-- 如何让MyBatis进行关联映射 -->
        SELECT
        sk.seckill_id,sk.user_phone,sk.state,sk.create_time,
        s.seckill_id "seckill.seckill_id",s.name "seckill.name",s.number "seckill.number",
        s.start_time "seckill.start_time",s.end_time "seckill.end_time",s.create_time "seckill.create_time"
        FROM success_killed sk INNER JOIN seckill s ON sk.seckill_id=s.seckill_id
        WHERE sk.seckill_id=#{seckillId} AND sk.user_phone=#{userPhone}
    </select>

</mapper>